{% extends 'base.html' %}
{% block content %}
<h2>{{ test }}</h2>
{% if error_message %}
    <strong>{{ error_message }}</strong>
    <strong>{{ correct_test }}</strong>
{% endif %}
{% for q in test.questions.all %}
<div class="p-3 mb-2 bg-secondary text-white">
    <h5>{{ q.question }}</h5>
</div>
    <form action="{% url 'questions:vote' test.id %}" method="post">
    {% csrf_token %}
    {% for answer in q.answers.all %}
        <p>
            <h6>
            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
                <label for="answer{{ forloop.counter }}">{{ answer.answer }}</label>
            </h6>
        </p>
    {% endfor %}
{% endfor %}
<input type="submit" value="Ответить" />
</form>
{% csrf_token %}
{% endblock %}

